*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    padding:50px 100px;
    background:linear-gradient(to right, rgb(200, 30, 183),rgb(24, 145, 185),rgb(202, 43, 43));
}
h1{
    text-align: center;
    /* background-color: lightpink; */
}
.container{
    text-align: center;
    background-color: rgb(121, 181, 18);
    height: 30vh;
    padding: 20px 40px;
    border-radius: 12px;
    /* width: 20vw; */
}
.input-div{
    display: inline-block;
    margin:8vh;
    padding:12px;
}
label{
    font-size: 25px;
    margin:5px;
    font-weight: bold;
}
.input-box{
    padding:10px;
    margin :5px;
    font-weight: bold;
    font-size:22px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid royalblue;
}
